export QUEUE_CONFIG='{"push_queues":[{"name":"media_update","concurrency":20,"rate_limit":10, "rate_window": 60000},{"name":"image_processing","concurrency":10,"rate_limit":10, "rate_window": 60000},{"name":"data_sync","concurrency":5,"rate_limit":1, "rate_window": 60000}],"pull_queues":[{"name":"web_scrapping","concurrency":10,"rate_limit":1, "rate_window": 60000}]}'