export QUEUE_CONFIG='{"push_queues":[{"name":"media_update","concurrency":20,"rate":10},{"name":"image_processing","concurrency":10,"rate":10},{"name":"data_sync","concurrency":5,"rate":1}],"pull_queues":[{"name":"web_scrapping","concurrency":20,"rate":10}]}'